{% extends 'barberia/base.html' %}

{% block title %}Registrar Cliente - Barbería NextCode{% endblock %}

{% block content %}
<h2>Registrar Cliente</h2>

<form method="POST">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
    <br><br>

    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo">
    <br><br>

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono">
    <br><br>

    <button type="submit">Registrar</button>
</form>
{% endblock %}